<div class="modal fade" id="contactMe" dir="rtl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" >צור קשר</h4>
            </div>
            <form id="ajax-contact" method="post" action="/api/mail">
                <div class="modal-body">
                    <div class="field">
                        <label for="name">שם מלא</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="הכנס שם" required>
                    </div>
                    <div class="field">
                        <label for="email">מייל</label>
                        <input dir="ltr" type="email" id="email" class="form-control" name="email" placeholder="הכנס את כתובת המייל שלך" required>
                    </div>
                    <div class="field">
                        <label for="message">הודעה</label>
                        <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
                    <button type="submit" class="btn btn-primary">שלח</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="notifyDialog" dir="rtl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" >שגיאה</h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">סגור</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->