html, body {
  height: 100%;
  width: 100%;
  font-weight: bolder;
  font-family: monospace;
}

.parallaxParent {
  height: 120%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#main {
  height: 200%;

  #ashdodChart, #haifaChart {
    position: relative;
    height: 20%;
    top: 50%;
  }

}

header {
  z-index: 999;
  width: 100%;
  position: fixed;

  .logo {
    position: relative;
    width: 394px;
    height: 50px;
    background-image: url(/public/assets/img/logo.png);
  }

  ul {
    position: relative;
    float: right;
    li {
      background-color: transparent !important;
      a {
        background-color: transparent !important;
        font-size: 30px;
        color: white !important;

        &:hover {
          background-color: transparent !important;
          color: black;
        }
      }

      &.active {
        a {
          color: black !important;
          background-color: transparent !important;
        }
      }
    }
  }
}




