html, body {
  height: 100%;
  width: 100%;
  font-weight: bolder;
  font-family: monospace;
}

.parallaxParent {
  height: 120%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#main {
  height: 200%;
}

header {
  width: 100%;
  position: fixed;
  ul {
    float: right;
    li {
      background-color: transparent !important;
      a {
        background-color: transparent !important;
        font-size: 22px;
        color: white !important;

        &:hover {
          background-color: transparent !important;
          color: black;
        }
      }

      &.active {
        a {
          color: black !important;
          background-color: transparent !important;
        }
      }
    }
  }
}


